*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: var(--rb-font);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: var(--rb-bg);
  color: var(--rb-fg);
}

button,
a,
input {
  -webkit-tap-highlight-color: transparent;
}
